@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (max-width: 900px) {
  .header .container {
    flex-direction: column;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fff;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
.navbar {
  background: #fff;
  color: black;
  height: 60px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar img {
  width: 120px;
  height: 38px;
}

.header {
  background-color: #0e9752;
  color: #fff;
  min-height: 400px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
  margin: 100px 20px 20px 100px;
}
